* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
}


section {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.ground {
    position: relative;
    width: 1200px;
    height: 700px;
    border-radius: 30px;
    background-image: url("./img/background.png");
    background-size: cover;
}

.click {
    position: absolute;
    width: 100%;
    height: 370px;
    bottom: 0;
    left: 0;
}

.carrot {
    position: absolute;

}

.bug {
    position: absolute;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10px;
}

.playBtn {
    padding: 20px 30px;
    font-size: 50px;
    margin-bottom: 15px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: bisque;
}

.playBtn:hover {
    font-size: 60px;
}


.stopBtn {
    width: 100px;
    height: 100px;
    font-size: 50px;
    margin-bottom: 15px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: bisque;
}


.score {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: #339933;
    margin-bottom: 15px;
    font-size: 60px;
    line-height: 1em;
    text-align: center;
    color: white;
}

.timer {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #ff6633;
    font-size: 60px;
    line-height: 1.35em;
    text-align: center;
    color: white;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 150px;
    bottom: 80px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* opacity를 적용하면 자식요소도 적용되므로 rgba값을 줬음(rgba는 자식요소 적용안됨) */
}

.restart {
    width: 90px;
    height: 90px;
    font-size: 50px;
    margin-top: 5px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: bisque;
}

.result {
    font-size: 40px;
    color: white;
}